.modal.modal-module.fade
    .modal-dialog
        .modal-content
            .modal-header
                a.close(href="javacript:;",data-dismiss="modal")
                    span &times;
                .modal-title 编辑模块内容
            .modal-body
                .form.form-module
                    ul.nav.nav-tabs
                        li.active
                            a(href="#content",data-toggle="tab") 内容
                        if(user.isSuperAdmin)
                            li
                                a(href="#template",data-toggle="tab") 模版
                            li
                                a(href="#templateData",data-toggle="tab") 数据
                    .tab-content
                        if model && model.templateData
                            #content(class="tab-pane active#{model.templateData.rows ? ' form-inline' : ''}")
                                if (model.templateData.caption)
                                    .alert.alert-warning= '【说明】' + model.templateData.caption
                                - var rows = model.templateData.rows
                                - var fields = model.templateData.fields
                                - var fieldCount = Object.keys(fields).length
                                - var width = 100 / (fieldCount + 1)
                                if(rows)
                                    each row in rows
                                        .form-group
                                            each index,field in row
                                                .input-group(style="width:#{width}%")
                                                    - var option = fields[field].option
                                                    if(option && Object.keys(option).length > 0)
                                                        select.form-control(name=field,title=fields[field].label,required=fields[field].required !== false)
                                                            each text,key in option
                                                                option(value=key,selected=key == row[field])= text
                                                    else
                                                        .input-group-addon= fields[field].label
                                                        input.form-control(type=fields[field].type || 'text',name=field,value=row[field],title=fields[field].label,required=fields[field].required !== false)
                                            .input-group(style="width:#{width}%")
                                                a.btn.btn-primary.btn-new(href="javascript:;") 新增
                                                a.btn.btn-default.btn-delete(href="javascript:;") 删除
                                else if(fields)
                                    each index,field in fields
                                        .form-group
                                            .input-group
                                                - var option = fields[field].option
                                                if(option && Object.keys(option).length > 0)
                                                    select.form-control(name=field,title=fields[field].label,required=fields[field].required !== false)
                                                        each text,key in option
                                                            option(value=key,selected=key == fields[field].value)= text
                                                else
                                                    .input-group-addon= fields[field].label
                                                    input.form-control(type=fields[field].type,name=field,value=fields[field].value || '',title=fields[field].label,required=fields[field].required !== false)
                        else
                            #content(class="tab-pane active")
                                .alert.alert-warning 请先定义好「模版」和「数据」
                        #template.tab-pane
                            textarea.form-control(type="text",name="template")= model ? model.template : ''
                        #templateData.tab-pane
                            textarea.form-control(type="text",name="templateData")= model ? JSON.stringify(model.templateData) : ''
            .modal-footer
                a.btn.btn-default(href="javascript:;",data-dismiss="modal") 关闭
                a.btn.btn-primary.btn-save(href="javascript:;",type="submit") 保存