mixin table()
    form.form.form-inline.well(method="get",action="/#{controllerName}/")
        .form-group
            label.control-label 项目
            select.form-control(name="project")
                option(value="") 全部
                if(controllerName == 'module')
                    option(value="global") 全局
                include ../component/project
        if(controllerName == 'module')
            .form-group
                label.control-label 类型
                select.form-control(name="filetype")
                    option(value="") 全部
                    include ../component/filetype
        .form-group
            label.control-label 环境
            select.form-control(name="environment")
                option(value="") 全部
                include ../component/environment
        .form-group
            label.control-label 作者
            input.form-control(name="author",value=model.author || '')
        .form-group
            label.control-label 标题
            input.form-control(name="title",value= model.title || '')
        input.btn.btn-primary(type="submit",value="搜索")
        a.btn.btn-default(href="/#{controllerName}/") 重置
    table.table.table-striped.table-hover
        caption
            | #{pages[page]}列表
            a.label.label-primary(href="/#{controllerName}/new") 新增
        thead
            tr
                th 标题
                th= controllerName == 'module' ? '项目类型' : '项目'
                th 作者
                th 创建时间
                th 最后更新
                th 环境状态
                th 操作
        tbody
        if model.length > 0
        each m in model.data
            tr
                td
                    a(href="http://#{m.project}.hai360.com/ssi/#{m.path}",target="_blank")= m.title
                    if(controllerName == 'module')
                        code.btn-copy(href="javascript:;",title=m.path) 复制代码
                td
                    if(controllerName == 'module')
                        a(href="/#{controllerName}/?project=#{m.project}&filetype=#{m.filetype}")= (PROJECT[m.project] || '全局') + FILETYPE[m.filetype]
                    else
                        a(href="/#{controllerName}/?project=#{m.project}")= PROJECT[m.project]
                td
                    a(href="/#{controllerName}/?author=#{m.author}")= m.author
                td= moment(new Date(m.createdAt)).format('YYYY-MM-DD HH:MM:SS')
                td= moment(new Date(m.updatedAt)).format('YYYY-MM-DD HH:MM:SS')
                td
                    if ENVIRONMENT[m.environment]
                        if m.environment == 'dev'
                            span.label.label-default= ENVIRONMENT[m.environment]
                        else if m.environment == 'test'
                            span.label.label-info= ENVIRONMENT[m.environment]
                        else if m.environment == 'pre'
                            span.label.label-primary= ENVIRONMENT[m.environment]
                        else
                            span.label.label-success= ENVIRONMENT[m.environment]

                    if m.published == 1
                        span.label.label-success 已发布
                    else
                        span.label.label-danger 草稿
                td
                    a.btn.btn-default.btn-delete(href="/#{controllerName}/delete/#{m._id}") 删除
                    a.btn.btn-default(href="/#{controllerName}/edit/#{m._id}") 编辑
    include ../component/pagination

mixin form()
    - var isHtmlEditor = model && model.filetype && model.filetype == 'html'
    form.form.well(method="post",action="/#{controllerName}/save")
        .form-group
            label.control-label 项目
            select.form-control(name="project")
                if(controllerName == 'module')
                    option(value="global") 全局
                include ../component/project
        if(controllerName == 'module')
            .form-group
                label.control-label 类型
                select.form-control(name="filetype")
                    include ../component/filetype
        .form-group
            label.control-label 标题
            input.form-control(type="text",name="title",value=model ? model.title : '',placeholder="")
        .form-group
            label.control-label 文件名
            input.form-control(type="text",name="filename",readonly=model ? true : false,value=model ? model.filename : '',placeholder="英文或拼音小写")
        if(controllerName == 'module')
            ul.nav.nav-tabs
                li.active
                    a(href="#content",data-toggle="tab") 内容
                li
                    a(href="#template",data-toggle="tab") 模版
                li
                    a(href="#templateData",data-toggle="tab") 数据
            .tab-content
                #content(class="tab-pane fade in active form-group#{isHtmlEditor ? ' html-editor' : ''}")
                    textarea.form-control(type="text",name="content",readonly= isHtmlEditor)= model ? model.content : ''
                #template.tab-pane.fade.form-group
                    textarea.form-control(type="text",name="template",readonly= model && model.template != '')= model ? model.template : '' ? model.content : ''
                #templateData.tab-pane.fade.form-group
                    textarea.form-control(type="text",name="templateData",readonly= model && model.templateData != '')= model && model.templateData ? JSON.stringify(model.templateData) : ''
        else
            .form-group
                label.control-label 内容
                textarea.form-control(type="text",name="content")= model ? model.content : ''
        .form-group
            label.control-label 环境
            each name,env in ENVIRONMENT
                label.radio-inline
                    input(type="radio",name="environment",value=env,checked=model ? model.environment == env : false)
                    = name
        .form-group
            label.control-label 是否发布
                input(type="checkbox",name="published",value="1",checked=model ? model.published == 1 : false)
                span.label.label-danger 勾选则会覆盖现有文件
        .form-group.form-action
            if(model)
                input(type="hidden",name="_id",value=model._id)
                input(type="hidden",name="createdAt",value=model.createdAt)
            input.btn.btn-primary(type="submit",value="保 存")
            a.btn.btn-default(href="/#{controllerName}/") 返回
    if(controllerName == 'module')
        .modal.modal-module.fade
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(data-dismiss="modal")
                            span &times;
                        .modal-title 编辑模块内容
                    .modal-body
                        if(model && model.templateData)
                            form(class="form#{model.templateData.rows ? ' form-inline' : ''} well form-module")
                                if(model.templateData.rows)
                                    each row in model.templateData.rows
                                        .form-group
                                            if(model.templateData.fields)
                                                each field,index in model.templateData.fields
                                                    .input-group
                                                        .input-group-addon= field[1]
                                                        input.form-control(type="text",name=field[0],value=row[index],data-rule=field[2])
                                                .input-group
                                                    button.btn.btn-primary.btn-new 新增
                                                    button.btn.btn-default.btn-delete 删除
                                else if(model.templateData.fields)
                                    each field, index in model.templateData.fields
                                        .form-group
                                            .input-group
                                                .input-group-addon= field[1]
                                                input.form-control(type="text",name=field[0],value=field[3] || '',data-rule=field[2])
                    .modal-footer
                        button.btn.btn-default(data-dismiss="modal") 关闭
                        button.btn.btn-primary.btn-save(type="submit") 保存